div.screen-header
	div.cover
		div.container
			div.header
				div.navbar-header
					button.navbar-toggle.icon.hamburger(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#")
						span.logo-img
						span.logo-name
							| Waxom
				div.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a.menu-item(href="#home")
								| Home
						li
							a.menu-item(href="#portfolio")
								| Portfolio
						li
							a.menu-item(href="#features")
								| Features
						li 
							a.menu-item(href="#pricing")
								| Pricing
						li
							a.menu-item(href="#contact")
								| Contact
			div.screen-slide
				div.container
					div.head-content
						h2.small-title
							| Unique and Modern Design
						h1.main-title
							| Portfolio PSD Template
						p.title-text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna iqua. Ut enim ad minim veniamnostrud xercitation ullamco laboris nisi ut aliquip ex ea modo aute irure 
						button.btn.btn-secondary
							|Get Started
	div.dimming