div.screen_partners
	div.conntainer
		diw.row
			div.col-part.col-sm-6.col-md-3
				img.part-img(src="images/partner-logo1.png")
			div.col-part.col-sm-6.col-md-3
				img.part-img(src="images/partner-logo2.png")
			div.col-part.col-sm-6.col-md-3
				img.part-img(src="images/partner-logo3.png")
			div.col-part.col-sm-6.col-md-3
				img.part-img(src="images/partner-logo4.png")
	div.dimming