div.screen_pricing
	div.container
		div.row
			div.price.col-md-9
				h2.pricing-title
					span Waxom 
					| Multipurpose WordPress Theme
				p.pricing-text
					| Lorem ipsum dolor sit amet, consectetur jnkpisicing elit, sed do eiusmod
			div.pricing-btn.col-md-3
				a.btn.btn-default(href="#")
					| Purchase now