div.screen_project
	div.container
		div.project-desc
			h2.project-title
				| Our latest projects
			p.project-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		div.project-chose
			a.btn-all.btn.btn-default
				| All
			a.btn-w-d.btn.btn-default
				| Web Design
			a.btn-mob-app.btn.btn-default
				| Mobile App
			a.btn-illust.btn.btn-default
				| Illustration
			a.btn-photo.btn.btn-default
				| Photography
		div.row
			div.col-pro.col-sm-12.col-md-4
					div.img-dim
						img.pro-img(src="images/pro-img2.png")
						div.dimmimg
					div.pro-desc
						h4.pro-title
							| Ipsum dolor sit
						p.pro-text
							| Photography nature
			div.col-pro.col-sm-12.col-md-4
					div.img-dim
						img.pro-img(src="images/pro-img3.png")
						div.dimmimg
					div.pro-desc
						h4.pro-title
							| Ipsum dolor sit
						p.pro-text
							| Photography nature
			div.col-pro.col-sm-12.col-md-4
					div.img-dim
						img.pro-img(src="images/pro-img1.png")
						div.dimmimg
					div.pro-desc
						h4.pro-title
							| Ipsum dolor sit
						p.pro-text
							| Photography nature
			a.pro-more.btn.btn-default(href="#")
				|Load more