div.screen_realization
	div.container
		div.realization-text
			h2.realiz-title
				| Waxom is realization of your ideas
			p.realiz-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
		div.realization-slides
			img.realiz.img-1(src="images/realiz-img-1.png")
			img.realiz.img-2(src="images/realiz-img-2.png")
			img.realiz.img-3(src="images/realiz-img-3.png")