div.screen_about_us
	div.container
		div.row
			div.about-col.col-sm-6.col-md-3
				span.about-imgs.about-web-des-img
				h3.about-title
					| Web & App Design
				p.about-text
					| Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor unt ut labore et dolore magna aliqua.
			div.about-col.col-sm-6.col-md-3
				span.about-imgs.about-dev-img
				h3.about-title
					| Development
				p.about-text
					| Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor unt ut labore et dolore magna aliqua.	
			div.about-col.col-sm-6.col-md-3
				span.about-imgs.about-custom-img
				h3.about-title
					| Customization
				p.about-text
					| Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor unt ut labore et dolore magna aliqua.	
			div.about-col.col-sm-6.col-md-3
				span.about-imgs.about-market-img
				h3.about-title
					| Marketing
				p.about-text
					| Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor unt ut labore et dolore magna aliqua.
