doctype
html(lang="en")

	head

		include includes/general/head
		title Waxom
		
	body#top
		
		include includes/header	
		include includes/screen_about_us
		include includes/screen_realization
		include includes/pricing
		include includes/projects
		include includes/partners


		include includes/general/scripts