
@font-face {
    font-family: 'Rockwell';
    src: url('../fonts/rockwell-bold.eot');
    src: url('../fonts/rockwell-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rockwell-bold.woff2') format('woff2'),
         url('../fonts/rockwell-bold.woff') format('woff'),
         url('../fonts/rockwell-bold.ttf') format('truetype'),
         url('../fonts/rockwell-bold.svg#rockwell-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rockwell';
    src: url('../fonts/rockwell-regular.eot');
    src: url('../fonts/rockwell-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rockwell-regular.woff') format('woff'),
         url('../fonts/rockwell-regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#latobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src:    url('fonts/icons.eot?s7qfc6');
    src:    url('fonts/icons.eot?s7qfc6#iefix') format('embedded-opentype'),
        url('fonts/icons.ttf?s7qfc6') format('truetype'),
        url('fonts/icons.woff?s7qfc6') format('woff'),
        url('fonts/icons.svg?s7qfc6#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	box-sizing: border-box;
}

body{
	font-family:"Rockwell";
	padding: 0;
	margin: 0;
} 

.clearfix{
	content: '';
	clear: both;
}	

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1{
	float: left;
}

.col-12{
	width: 100%;
}
.col-11{
	width: 91.6666667%;
}
.col-10 {
  	width: 83.33333333%;
}
.col-9 {
  	width: 75%;
}
.col-8 {
  	width: 66.66666667%;
}
.col-7 {
  	width: 58.33333333%;
}
.col-6 {
 	width: 50%;
}
.col-5 {
  	width: 41.66666667%;
}
.col-4 {
  	width: 33.33333333%;
}
.col-3 {
 	width: 25%;
}
.col-2 {
  	width: 16.66666667%;
}
.col-1 {
  	width: 8.33333333%;
}

.container{
	margin: 0 auto;
	width: 1170px;
}
.contact_help:after,
.container:after{
	content: '';
	display: block;
	clear: both;
}

/*header begin*/
.header{
	z-index: 999;
	position: fixed; 
	top: 0;
	width: 100%;
	background: #FFF;
}
.logotype{
	display: inline-block;
	float: left;
	margin: 57px 65px 57px 0px;
}

.header .logotype .logo_img{
	float: left;
	height: 33px;
	width: 33px;
	background: url("../img/logo.svg")center no-repeat;
	background-size: contain;
	margin: 0 10px 0 0;
}

.header .logotype .logo{
	float: left;
	font-size: 30px;
	line-height: 30px;
	text-decoration: none;
	color: black;	
	font-weight: 500;
	font-family: 'Rockwell';
}

.header .logo span{
	font-weight: bold;
}

.header .nav{ 
	padding: 0;
	float: left;
	display: inline-block;
	text-transform: uppercase;
	list-style: none;
	font-size: 17px;
	line-height: 20px;
	font-weight: 500;
	letter-spacing: -0.5px;
	margin: 68px 0px 59px 0px;

}

.header .nav li{
	float: left;
	padding: 0px 0px 0px 40px;
}

.header .nav li:last-child{
	padding-right:0;
}

.header .nav a{
	font-family: "Raleway";
	text-decoration: none;	
	color: black;	
}

.header .nav a:hover{
	color: #FFD700;
}


.header .container .contact{
	float: right;
	border-left: 1px solid #DDDDDD;
	padding: 35px 0px 25px 50px;
	
}

.header .container .btn-number{
	clear: both;
	display: inline-block;
}

.btn_chat{
	float: left;
	padding: 0px 23px 0px 0px;
	border-right: 1px solid rgb(186,187,196);
}

.ph_number{
	float: right;
	margin: 10px 0 10px 0;
}

.header .contact .contact_help{
	font-family: "Raleway";
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;	
	margin: 0px 0px 30px 0px;
}

.header .btn{
	padding: 11px 28px;
	font-size: 14px;
	text-decoration: none;
	color: black;
	line-height: 41px;
	font-weight: 600;
	font-family: "Raleway";
}

.btn.btn-default{
	background-color: #FFE13E;
}

.btn.btn-default:hover{
	transition: all .8s ease;
	background-color: #170000;
	color: #FFE13E;
}

.header .ph_number .phone_number{
	float: right;
	font-family: "Lato";
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-size: 25px;
	line-height: 20px;
	padding: 0px 0px 0px 15px;
}

/*header end*/

/*first_screen begin*/
.screen.__main_login{
	margin: 0;
	padding: 147px 0 0 0;
	background: url(../img/background_main.jpg)no-repeat;
	background-size: cover;
	position: relative;
}

.dimming{
	position: absolute;
	z-index: 1;
	background: rgba(0,0,0,.3);
	top:0;right: 0;bottom: 0;left: 0;  
}

.screen.__main_login .container{
	position: relative;
	min-height: 500px;
	max-height: 800px;
	height: calc(100vh - 147px);
}

.screen.__main_login .container .main-login-contain{
	left: 0;right: 0;
	position: absolute;
	text-align: center;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
}

.screen.__main_login .container .main_name{
	font-size: 45px;
	color: white;
	text-align: center;
	padding: 0;
	margin-top: 0;
	font-family: "Rockwell";
	font-weight: lighter;
	letter-spacing: 1px;
	
}

.screen.__main_login .container p{
	margin: 30px 0;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: lighter;
	letter-spacing: 1px;
	font-family: "Raleway";
	letter-spacing: 2px;
}

.container .screen1-shape{
	display: inline-block;
	background: url("../img/Shape.png") no-repeat; 
	height: 110px;
	width: 110px;
	background-size: contain;
}

.container .check_domain{
	margin: 80px 0 0 0;
	line-height: 0;
	font-size: 0;
	display: inline-block;
	content-align: center;
	border: 17px solid rgba(255,255,255,.5);
}

.container .check_domain form{
	font-family: "Raleway";
	height: 60px;
	line-height: 0;
	font-size: 0;
	width: 550px;
	display: block;
}

.check_domain form #domain_name{
	padding-left: 35px; 
	border: 0;
	width: 270px;
	float: left;
	font-size: 20px;
	font-weight: 200px;
}

.container .check_domain form input{
	height: 60px;
	border: 0;
	float: left;
	width: 100px;
}

 .container .check_domain .select_wrap{
 	background: #FFE13E;
 	position: relative;
 	float: left;
}

.container .check_domain form select{
	height: 60px;
	border: 0;
	float: left;
	width: 120px;
	border-radius: 0px;
	font-size: 20px;
	line-height: 20px;
	padding: 0 25px 0 25px;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
	background: none;
    position: relative;
    z-index: 2;
    font-weight: bold;
}

.container .check_domain .select_wrap:after{
	content: '';
	position: absolute;
	height: 10px; 
	width: 10px;
	border-right:2px solid white;
	border-bottom:2px solid white;
	transform: rotate(45deg);
	right: 20px;
	top: 20px;
	z-index: 1;
}

.container .check_domain form #check_availability{
	width: 160px;
	background: #FFE13E;
	border-left: 1px solid white;
	font-size: 15px;
	color: #FFF7CC;
	font-weight: bold;
	padding: 0 10px 0 10px;
}

.container .check_domain form #check_availability:hover{
	cursor: pointer;
	border: 2px solid white;
	background: #FFF;
	color: #FFE13E;
	transition: all .8s ease;
}
/*first_screen end*/

/*second_screen begin*/
.screen_servises .container{
	font-family: 'Raleway', sans-serif;
	padding: 110px 0 110px 0;
} 

 .screen_servises .col-1.web,  .col-2.dom{
	padding: 0 70px 0 60px;
}
.row{
	content: '';s
	clear: both;
}

.row:after{
	content: '';
	clear: both;
	display: block;
}
.row .col-1{
 	width:50%;
 	float: left;
}

.row .col-2{
 	width:50%;
 	float: right;
}


.screen_servises .icon{
	height: 200px;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
}

.screen_servises .icon._webhost{
	background: url("../img/servises.png") no-repeat;
	width: 170px;	
	background-size: contain;
}

.screen_servises .icon._domain{
	font-size: 155px;
	font-family: 'Raleway', sans-serif;
	color: #202242;
	font-weight: bold;
}

.screen_servises .col-1 h3, .col-2 h3{
	color: #FFF;
	font-size: 35px;
	line-height: 40px;
	padding: 10px 0 20px 0;
}

.screen_servises .row p{
	color: #FFF;
	font-weight: lighter;
	font-size: 14px;
	line-height: 25px;
	font-family: 'Raleway', sans-serif;
}

.screen_servises .row .serises_btn{
	margin: 30px 0 30px 0;
	display: inline-block;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 55px;
	border: 4px solid #FFF;

}

.screen_servises .row .serises_btn:hover{
	background: linear-gradient(45deg,rgb(32,34,66),rgb(255,255,62));
	transition: all .8s ease;
	color: #FFF;
	font-weight: 800px;
	cursor: pointer;
}

.screen_servises{
	position: relative;
}

.screen_servises .bouth{
	width:50%;
	position: absolute;
	top: 0; bottom: 0;
	z-index: 1;
}
.screen_servises .screen-webhost{
	background: #202242;
	left: 0;
}

.screen_servises .screen-domain{
 	background: #FFE13E;
 	right: 0;
}
.screen_servises .container{
	position: relative;
	text-align: center;
	z-index: 2;
}

/*second_screen end*/
/*third_screen begin*/

.features{
	background: #FBF8F1 url('../img/Shape-11.png') center no-repeat;
}
.features p,.features h2{
	margin: 0;
}
.features .container{
	position: relative;
	text-align: center;
	font-family: 'Raleway',sans-serif;
	padding: 100px 20px;
}

.features .container .features_name{
	text-transform: capitalize;
	font-size: 50px;
	line-height: 50px;
	color: #202242;
	padding: 0px 0 25px 0;
}

.features .container .features_text{
	font-size: 25px;
	line-height: 25px;
	text-transform: capitalize;
	color: #202242;
}

.features .row.wrap{
	position: relative;
	margin: 50px 0 0 0;
	font-family: 'Rockwell', sans-serif;
	margin-right: -20px;
	margin-left: -20px;
}

.features .row.wrap .col-3{
	padding: 20px;
	.display: inline-block;
	text-align: center;
}

.features .row.wrap .col-3 span{
	display: block;
	margin: 0 auto;
	height: 130px;
	width: 130px;
	background-size: contain;
}

.features .row.wrap .col-3 .features_col_img-1{
	background: url('../img/img-1_col.png') center no-repeat;
	
}

.features .row.wrap .col-3 .features_col_img-2{
	background: url('../img/img-2_col.png') center no-repeat;
}

.features .row.wrap .col-3 .features_col_img-3{
	background: url('../img/img-3_col.png') center no-repeat;
}

.features .row.wrap .col-3 .features_col_img-4{
	background: url('../img/img_4_col.png') center no-repeat;
}

.features .row.wrap .col-3 .features_col_heading{
	font-size: 28px;
	line-height: 28px;
	color: #F6DF66;
	font-weight: 550;
}

.features .row.wrap .col-3 .features_col_heading:before{
	border: 1px solid #8D8D99;
	width: 70px;
	display: block;
	align-items: center;
	content: '';
	margin:30px auto;
}

.features .row.wrap .col-3 .features_col_text{
	font-size: 15px;
	font-weight: lighter;
	line-height: 25px;
	font-family: 'Raleway', sans-serif;
}
/*third_screen end*/
/*fourth_screen logo begin*/
.screen_logos{
	margin: 0 auto;
	position: relative;
}
.screen_logos .container{
	margin-top: 50px;
	font-family: 'Raleway', sans-serif;
}
.screen_logos .row {
	content: '';
	clear: both;
	display: block;
	margin-right: 20px;
	margin-left: 20px;
}

.screen_logos .container .row.wraper .col-4{
	float: left;
}

.screen_logos .row .col-4 .screen_logos_clients_title{
	font-size: 35px;
	line-height: 35px;
	font-weight: 800;
}
.screen_logos .row .col-4 .screen_logos_clients_text{
	font-size: 15px;
	line-height: 25px;
	color: #D5D5D5;
}

.screen_logos .row .col-8{
	margin: 50px 0 0 0px;
	padding-left: 50px; 
 	position: relative;
}

.screen_logos .row .col-2{
	width: 25%;
	position: relative;
	float: left;
	
}

.screen_logos .row .col-2 a{
	line-height: 0;
}

.screen_logos .row .col-2 img{
	height: 100%;
	width: 90%;
}

/*fourth_screen logo end*/
/*fourth_screen testimonials begin*/
.screen_testimonials {
	position: relative;
}

.screen_testimonials .container{
	padding: 0 25px;
}

.screen_testimonials .container .row.wraper{
	margin: 50px 0px 100px 0px;	

}

.screen_testimonials .container .row.wraper .col-4{
	padding: 15px; 
}

.screen_testimonials .container .row.wraper .col-4 .testimonials_text{
	padding: 10px;
	background: #FAF9F9;
	color: #C8C7C7;
}

.screen_testimonials .container .row.wraper .col-4 .testimonials_text .comment{
	font-style: italic;
	font-size: 15px;
	line-height: 20px;
	margin: 0 0 50px 0;
}

.screen_testimonials .container .row.wraper .col-4 .comment_name{
	color: #777777;
}

.screen_testimonials .testimonials_text .testimonials_client_picture{
	position: relative;
	display: inline-block;
	background-size: cover;
	height: 100px;
	width: 100px;
	overflow: hidden;
	border-radius: 100%;
	margin-top: -50px;
	float: right;
	border: 4px solid #E0DFE4;

}

.screen_testimonials .container .row.wraper .col-4 .testimonials_text img{
		
	/*position: absolute;
	margin: -50px 0 0 250px;*/

}
/*fourth_screen testimonials end*/
/*fourth_screen pricing begin*/
.pricing{
	position: relative;
	background: #202242;
}

.pricing .container{
	padding: 100px 50px;
}

.pricing .container .pricing_plans{
	display: inline-block;
}

.pricing .pricing_title{
	margin: 0;
	color: #FFFFFF;
	font-size: 35px;
	line-height: 35px;
	font-family: 'Raleway';
}

.pricing .container .pricing_text{
	font-size: 20px;
	line-height: 20px;
	font-family: 'Raleway';
	color: #4D4E66;
}

.pricing .container .pricing_btn{
	position: relative;
	display: inline-block;
}

.pricing .container .pricing_btn .btn_pricing_plans{
	display: inline-block;
	font-family: 'Raleway';
	font-weight: 600;
	text-decoration: none;
	font-size: 20px;
	line-height: 20px;
	padding: 30px 50px;
	background: #FFE13E;
	color: #202242;
	border: 4px solid #FFFFFF;
}

.pricing .container .pricing_btn .btn_pricing_plans:hover{
	background: #202242;
	color: #FFE13E;
	transition: all 0.8s ease;
}

/*fourth_screen pricing end*/
/*footer begin*/
.footer .container{
	background: #373856;
	position: relative;
	width: 100%;
}		

.footer .footer_map{
	position: relative;
	background: url('../img/footer_bacground.png') no-repeat;
	background-size: contain;
	top: 0;
    right: 0;
    bottom: 0;
    left: 50px;
    height: 500px;
    width: 95%;
 	z-index: 1;
}

.footer .container .col-9 .container .point_yogykarta{
	position: relative;
	float: right;
	margin-top: -33%;
	margin-right: -80px;

}

.footer .container .map_pointer{
	color: #FFF;
	font-family: 'Raleway';
	font-size: 20px;
	line-height: 30px;
	display: inline-block;
}

.footer .container .img_yogykarta{
	background: url(../img/yogykarta.png) center no-repeat; 
	background-size: contain;
	height: 50px;
	width: 50px;
	display: inline-block;
}

.footer .container .nav{
	position: relative;
	padding: 0 100px 100px 0;
	font-family: 'Raleway';
	text-align: right;
}
.footer .row{
	float: left;
	width: 100%;
}

.footer .row.col-3{
	position: relative;
	display: inline-block;
}

.footer .container .nav h4{
	color: #FCFCFC;
	font-size: 20px;
}

.footer .container .nav li{
	font-size: 15;
	line-height: 30px;
	list-style: none;
	padding: 0; margin: 0;
}
.footer .container .nav li a{
	color: #FCFCFC;
	padding: 0; margin: 0;
}
.footer .container .nav a:hover{
	color: #FFE13E;
}
.nav_social{
	right: 0;
	margin: 20px 0 50px 90px;
}
.nav_social a{
	margin: 0 5px;
}
.nav_social a:last-child{
	margin-right: 0;
}

.footer .row .col-6{
	width: 50%;
	float: left;
}

.twitter:before {
    content: "\e900";
}
.footer .row{
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin: 50px 0 0 0;
}

.back_to_top{
	color: #FCFCFC;
	font-size: 15px;
}

.footer .copyright .mag_right{
	display: block;
	color: #FFF;
	font-family: 'Raleway';
	font-size: 15px;
	margin: 10px 0 70px 0;
}

.copyright{
	position: relative;
	text-align: center;
}
/*footer end*/




/*media queries for phones and portrait tablets begin*/
@media (max-width:767px){

.header{
	display: none;
}
.container{
	width: auto;
}
/*media for 1 screen begin*/.container .check_domain form{
	width: 300px;
}

.check_domain form #domain_name{
	padding-left: 20px; 
	border: 0;
	width: 100%;
	float: left;
	font-size: 17px;
	font-weight: 200px;
	display: block;
}

.container .check_domain form select{
	width: 140px;
	font-size: 20px;
	line-height: 20px;
	padding: 0 30px 0 30px;
}
.container .check_domain form #check_availability{
	font-size: 15px;
	padding: 0 20px 0 20px;
}
/*media for 1 screen end*/
/*media for 2 screen begin*/
.row .col-1{
 	width:100%;
 	display: block;
}
.row .col-2{
 	width:100%;
 	display: block;
}
.screen_servises{
	position: relative;
}
.screen_servises .bouth{
	width:100%;
	position: absolute;
	top: 0; bottom: 0;
	z-index: 1;
}
/*media for 2 screen end*/
/*media for 3 screen begin*/
.features .container .features_name{
	font-size: 50px;
	line-height: 50px;
}

.features .container .features_text{
	font-size: 25px;
	line-height: 25px;
}

.features .row.wrap{
	margin-right: -20px;
	margin-left: -20px;
}
/*media for 3 screen end*/
/*media for 4 screen begin*/
.screen_logos .row {
	content: '';
	clear: both;
	display: block;
	margin-right: 20px;
	margin-left: 20px;
}
.screen_logos .container .row.wraper .col-4{
	float: left;
}
.screen_logos .row .col-4 .screen_logos_clients_title{
	font-size: 35px;
	line-height: 35px;
	font-weight: 800;
}
.screen_logos .row .col-4 .screen_logos_clients_text{
	font-size: 15px;
	line-height: 25px;
	color: #D5D5D5;
}
.screen_logos .row .col-8{
	margin: 50px 0 0 0px;
	padding-left: 0px; 
 	position: relative;
}

/*media for 4 screen end*/
/*media for 5 screen begin*/
.pricing .pricing_title{
	font-size: 20px;
	line-height: 20px;
}
.pricing .container .pricing_text{
	font-size: 15px;
	line-height: 15px;
}
.pricing .container .pricing_btn .btn_pricing_plans{
	font-size: 15px;
	line-height: 15px;
	padding: 20px 25px;
}
/*media for footer begin*/
.footer .footer_map{
    height: 200px;
    width: 95%;
 	z-index: 1;
}

.footer .footer_map{
    left: 30px;
    width: 100%;
}

.footer .container .col-9 .container .point_yogykarta{
	margin-top: -23%;
}
.footer .container .map_pointer{
	font-size: 15px;
	line-height: 15px;	
}
.footer .container .img_yogykarta{
	background: url(../img/yogykarta.png) center no-repeat; 
	background-size: contain;
	height: 35px;
	width: 35px;
	display: inline-block;
}

.footer .container .nav{
	position: relative;
	padding: 0 20px 10px 0;
	font-family: 'Raleway';
	text-align: right;
}

.footer .container .nav h4{
	color: #FCFCFC;
	font-size: 17px;
}

.footer .container .nav li{
	font-size: 12;
	line-height: 30px;
	list-style: none;
	padding: 0; margin: 0;
}
.footer .container .nav li a{
	color: #FCFCFC;
	padding: 0; margin: 0;
}
.footer .container .nav a:hover{
	color: #FFE13E;
}
.nav_social{
	margin: 20px 0 50px 0;
}
.nav_social a{
	margin: 0 5px;
}
.nav_social a:last-child{
	margin-right: 0;
}

.footer .row .col-6{
	width: 50%;
	float: left;
}

.twitter:before {
    content: "\e900";
}
.footer .row{
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin: 40px 0 0 0;
}

.back_to_top{
	color: #FCFCFC;
	font-size: 15px;
}

.footer .copyright .mag_right{
	display: block;
	color: #FFF;
	font-family: 'Raleway';
	font-size: 15px;
	margin: 10px 0 70px 0;
}

.copyright{
	position: relative;
	text-align: center;
}
}
/*media queries for phones and portrait tablets end*/



/* media queries for portrait phones and smaller begin*/
@media (max-width: 480px){
.header{
	display: none;
}
.container{
	width: auto;
}
/*media for 1 screen begin*/
.screen.__main_login .container .main_name{
	font-size: 35px;
}

.screen.__main_login .container p{
	font-size: 20px;
}

.container .screen1-shape{
	height: 60px;
	width: 60px;
}

.container .check_domain{
	margin: 70px 0 0 0;
	border: 15px solid rgba(255,255,255,.5);
}

.container .check_domain form{
	width: 300px;
}

.check_domain form #domain_name{
	padding-left: 20px; 
	border: 0;
	width: 100%;
	float: left;
	font-size: 17px;
	font-weight: 200px;
	display: block;
}

.container .check_domain form select{
	width: 140px;
	font-size: 20px;
	line-height: 20px;
	padding: 0 30px 0 30px;
}
.container .check_domain form #check_availability{
	font-size: 15px;
	padding: 0 20px 0 20px;
}
/*media for 1 screen end*/
/*media for 2 screen begin*/
.screen_servises .icon._domain{
	font-size: 120px;
}
/*media for 2 screen end*/
/*media for 3 screen begin*/

/*media for 3 screen end*/
/*media for 4 screen begin*/
.screen_logos .row {
	display: block;
	margin-right: 0px;
	margin-left: 0px;
}
/*
.screen_logos .container .row.wraper .col-4{
	float: left;

}
.screen_logos .row .col-4 .screen_logos_clients_title{
	font-size: 35px;
	line-height: 35px;
	font-weight: 800;
}
.screen_logos .row .col-4 .screen_logos_clients_text{
	font-size: 15px;
	line-height: 25px;
	color: #D5D5D5;
}*/

.screen_logos .row .col-8{
	margin: 20px 0 0 0px;
	padding-left: 15px;
}
.screen_logos .row .col-2{
	padding: 0;
}

/*media for 4 screen end*/
/*media for 5 screen begin*/
.pricing{
	position: relative;
	background: #202242;
}

.pricing .container{
	padding: 80px 0px;
	text-align: center;
}

.pricing .container .pricing_plans{
	display: block;
}

.pricing .pricing_title{
	color: #FFFFFF;
	font-size: 22px;
	line-height: 22px;
}

.pricing .container .pricing_text{
	font-size: 18px;
	line-height: 18px;
}

.pricing .container .pricing_btn .btn_pricing_plans{
	font-size: 15px;
	line-height: 15px;
	padding: 20px 40px;
	margin-left: 50%;
	transform: translateX(50%);
}
/*media for footer begin*/
.footer .container{
	background: #373856;
	position: relative;
	width: 100%;
}		

.footer .footer_map{
	position: relative;
	background: url('../img/footer_bacground.png') no-repeat;
	background-size: cover;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    height: 180px;
 	z-index: 1;
}

.footer .container .col-9 .container .point_yogykarta{
	position: relative;
	float: right;
	margin-top: -30%;
	margin-right: -35px;
}

.footer .container .map_pointer{
	color: #FFF;
	font-family: 'Raleway';
	font-size: 10px;
	line-height: 15px;
	display: inline-block;
}

.footer .container .img_yogykarta{
	height: 30px;
	width: 30px;
}

.footer .container .nav{
	position: relative;
	padding: 0;
	font-family: 'Raleway';
	text-align: right;
}
.footer .row{
	float: left;
	width: 100%;
}

.footer .row.col-3{
	position: relative;
	display: inline-block;
}

.footer .container .nav h4{
	color: #FCFCFC;
	font-size: 15px;
}

.footer .container .nav li{
	font-size: 12px;
	line-height: 20px;
	list-style: none;
	padding: 0; margin: 0;
}
.footer .container .nav li a{
	color: #FCFCFC;
	padding: 0; margin: 0;
}
.footer .container .nav a:hover{
	color: #FFE13E;
}
.nav_social{
	display: block;
	margin: 0px 0 50px 80px;
}
.nav_social a{
	padding: 0;
	margin: 0 5px;
}
.nav_social a:last-child{
	margin-right: 0;
}

.footer .row .col-6{
	width: 50%;
	float: left;
}

.twitter:before {
    content: "\e900";
}
.footer .row{
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin: 50px 0 0 0;
}

.back_to_top{
	color: #FCFCFC;
	font-size: 12px;
}

.footer .copyright .mag_right{
	display: block;
	color: #FFF;
	font-family: 'Raleway';
	font-size: 15px;
	margin: 20px 0 70px 0;
}
}
/* media queries for portrait phones and smaller end*/








